.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 13.5rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .image img {
    border-radius: 1rem;
    width: 100%;
}

.about .image .controls {
    text-align: center;
    padding: 2rem 0;
}

.about .image .controls span {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #06283D;
    cursor: pointer;
    margin: .7rem;
  }
  
  .about .image .controls span:hover {
    background: #083e8f;
  }

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.about .content span {
    font-size: 2rem;
}

.about .content h3 {
    font-size: 3rem;
    margin-top: .5rem;
}

.about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: justify;
}

.mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.mission .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.mission .image img {
    border-radius: 1rem;
    width: 100%;
}

.mission .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.mission .content i {
    padding-right: 1.3rem;
    font-size: 1.3rem;
}

.mission .content span {
    font-size: 2rem;
}

.mission .content span {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}

.mission .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 2;
    padding-left: 0.8rem;
    padding-right: 1rem;
    text-align: justify;
}

.box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin-top: -2rem;
}

.box-container .position {
    margin-bottom: -10rem;
}

.names {
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5rem;
}

.swiper {
    width: 1000px;
}

.card {
    position: relative;
    background: #f9fdff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #ffffff;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .name-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.name-position .name {
    font-size: 20px;
    font-weight: 600;
}

.name-position .position {
    font-size: 15px;
    font-weight: 500;
}

.swiper-pagination {
    position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #06283D;
    transition: all 0.5s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #06283D;
}

@media (max-width:991px) {
    .box-container {
        margin-top: -4rem;
    }

    .box-container .position {
        margin-bottom: -3rem;
    }
}

@media (max-width:768px) {
    .box-container {
        margin-top: -8rem;
    }

    .box-container .position {
        margin-bottom: -3rem;
    }
}

@media (max-width:450px) {
    .box-container {
        margin-top: -8rem;
    }

    .box-container .position {
        margin-bottom: -3rem;
    }
}