.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 11.5rem;
  padding-bottom: 9rem;
}

.home .image {
  flex: 1 1 44rem;
}

.home .image img {
  width: 110%;
}

.home .content {
  flex: 1 1 40rem;
  padding-left: 5.5rem;
}

.home .content h5 {
  font-size: 2rem;
  line-height: .3;
}

.home .content h3 {
  font-size: 4.5rem;
  line-height: 1.9;
  font-family: 'Domine', serif;
}

.home .content h4 {
  font-size: 1.8rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 8.5rem;
  padding-bottom: 3.5rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .image img {
  border-radius: 1rem;
  width: 100%;
}

.about .image .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .image .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #06283D;
  cursor: pointer;
  margin: .7rem;
}

.about .image .controls span:hover {
  background: #083e8f;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  font-size: 2rem;
}

.about .content h3 {
  font-size: 3rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: justify;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: #06283D;
  border: 0.2rem solid #06283D;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #06283D;
  color: rgb(255, 255, 255);
}

.modules{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.modules .title {
  text-align: center;
  margin-bottom: 3rem;
}

.modules .title span {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.modules .title h1 {
  font-size: 3.8rem;
  color: black;
}

.modules .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.7rem;
}

.modules .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #f1f9fc;
}

.modules .box-container .box:hover img {
  transform: scale(1.1);
}

.modules .box-container .box .image {
  height: 15rem;
  overflow: hidden;
  width: 100%;
}

.modules .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modules .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.modules .box-container .box .content h3 {
  font-size: 1.7rem;
}

.modules .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.modules .box-container .box .content a {
  font-size: 1.15rem;
  color: #06283D;
}

.modules .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.modules .box-container .box .content a i {
  padding-right: .5rem;
  font-size: 0.8rem;
}
