.modules .title {
    text-align: center;
    padding-top: 6rem;
}

.modules .title span {
    font-size: 2rem;
}

.modules .title h1 {
    font-size: 3.5rem;
}

.modules .title h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.modules .title p {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
}

.modules h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.modules-about {
    margin-top: -2.5rem;
}

.modules-about .content h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}

.modules-about .content span {
    font-size: 1.9rem;
    font-weight: 600;
}

.modules-about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 2;
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: justify;
}

.modules-about .content u {
    text-decoration: underline;
}

.modules-about .content i {
    padding-right: 1.3rem;
    font-size: 1.3rem;
}

.box-container {
    display: -ms-grid;
    display: grid;
    
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.7rem;
    padding-top: 1rem;
}

.box-container .box {
    border-radius: 1rem;
    overflow: hidden;
    background: #f1f9fc;
}

.box-container .box:hover img {
    transform: scale(1.1);
}

.box-container .box .image {
    height: 10rem;
    overflow: hidden;
    width: 100%;
}

.box-container .box .image img {
    height: 100%;
    width: 100%;

    -o-object-fit: cover;
    object-fit: cover;
}

.box-container .box .content {
    padding: .8rem;
    text-align: center;
}

.box-container .box .content h3 {
    font-size: 1.5rem;
    padding: .15rem;
    color: black;
}

.sacraments-box-container {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.7rem;
    padding-top: 1.3rem;
}

.sacraments-box-container .box {
    border-radius: 1rem;
    overflow: hidden;
    background: #f1f9fc;
}

.sacraments-box-container .box:hover img {
    transform: scale(1.1);
}

.sacraments-box-container .box .image {
    height: 10rem;
    overflow: hidden;
    width: 100%;
}

.sacraments-box-container .box .image img {
    height: 100%;
    width: 100%;

    -o-object-fit: cover;
    object-fit: cover;
}

.sacraments-box-container .box .content {
    padding: .8rem;
    text-align: center;
}

.sacraments-box-container .box .content h3 {
    font-size: 1.5rem;
    padding: .15rem;
}
